@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --muted: 220 14.3% 95.9%;
  --muted-foreground: 220 8.9% 46.1%;
}

html {
  font-family: sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}


